:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #1aac83;
  --error: #e7195a;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #f1f1f1;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 3rem;
}

.pages {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10em;
}

.workout-details {
  background: #fff;
  border-radius: 0.4em;
  margin: 2em auto;
  padding: 2em;
  position: relative;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.05);
}

.workout-details h4 {
  margin: 0 0 1em 0;
  font-size: 2rem;
  color: var(--primary-color);
}

.workout-details p {
  margin: 0;
  font-size: 1.5rem;
  color: #555;
}

.workout-details span {
  position: absolute;
  top: 2em;
}
