:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #1aac83;
  --error: #e7195a;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #f1f1f1;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 3rem;
}

.pages {
  max-width: 1400px;
  padding: 2em;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10em;
}

.workout-details {
  background: #fff;
  border-radius: 0.4em;
  margin: 2em auto;
  padding: 2em;
  position: relative;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.05);
}

.workout-details h4 {
  margin: 0 0 1em 0;
  font-size: 2rem;
  color: var(--primary-color);
}

.workout-details p {
  margin: 0;
  font-size: 1.5rem;
  color: #555;
}

.workout-details span {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  background: #f1f1f1;
  padding: 0.6em;
  border-radius: 50%;
  color: #333;
}

.create h3 {
  font-size: 1.6em;
}

label,
input {
  display: block;
  font-size: 1.2em;
}

input {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  border: 0.1em solid #ddd;
  border-radius: 0.4em;
  box-sizing: border-box;
}

form button {
  background: var(--primary-color);
  border: 0;
  color: #fff;
  padding: 1em;
  border-radius: 0.4em;
  cursor: pointer;
}

div.error {
  padding: 1em;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 0.4em;
  margin: 2em 0;
}

input.error {
  border: 1px solid var(--error);
}

nav {
  display: flex;
  align-items: center;
  gap: 2em;
}

form.signup,
form.login {
  max-width: 40em;
  margin: 4em auto;
  padding: 2em;
  background: #fff;
  border-radius: 0.4em;
}

form.signup h3,
form.login h3 {
  font-size: 1.5rem;
}
